@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}


body {
    background-image: url(../image/Originals/ray-charles-004.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    background-color: #1c0a00;
    color: whitesmoke;
    min-height: 100vh;
}

header {
    background-color: #361500;
    text-align: center;
    font-variant: small-caps;
    font-size: xx-large;
    color: rgb(189, 170, 170);
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #cc9544;
    
}
header > h3 {
    color: #e16010;
    margin: 1px;
    font-size: large;
}

header > P {
    color: rgb(207, 200, 200);
    text-align: left;
    font-size: small;

}
h2 {
    color: #cc9544;
    padding: 10px;
    
}


p {
    text-align: justify;
    padding: 5px;
    color: #7c7ab7;
    font-size: larger;
    padding: 10px;
    
}
.destaque{
   color: #aaaaaa;
   text-decoration: underline;
}


#img1 {
    text-align: center;
    max-width: 400px;
    background-size: cover;
    background-attachment:scroll;
}
#img2 {
    padding: 20px;
    max-width:400px;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: #e16010;
    text-shadow: #1c0a00;
    background-color: #361500;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
    background-color: #e16010;
    color: white;
    transition: 0.5s;
}

main {
    background-color: #0100008d;
}
footer {
    
    background-image: url(../image/ray-charles003.jpeg);
    padding: 4px; 
    background-position: bottom; 

}
footer > p {
    text-align: center;
    color: #000000;
    font-weight: bolder;
    background-color: white;
    padding: 5px;
    margin: 5px;
    
    

} 